<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
      <div class="container">
        <div class="text-center">
            <h2>Registion Form</h2>
        </div>
        <div class="row justify-content-center"> 
          <div class="col-md-6">
              <!-- Form -->
              <form id="myForm" action="/lobby" method="post">

                  <!-- Name input -->
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" class="form-control" required>

                  <!-- Birth input -->
                  <label for="birth">Birthday</label>
                  <input type="date" name="birth" id="birth" value="" class="form-control" required>

                  <!-- Disease input -->
                  <label for="disease">Disease</label> 
                  <select name="_id" id="disease" class="form-select" required aria-label="select example">
                    <option value="">Open this select menu</option>
                        <% if (diseases.length > 0) { %>
                            <% for (let d of diseases) { %>
                                <option value="<%= d._id %>"><%= d.disease %></option>
                            <% } %>  
                        <% } %>  
                  </select>

                  <!-- Time Hospitalize input -->
                  <div class="row mb-3">
                    <div class="col">
                      <label for="Time">Time Hospitalize</label>
                      <input type="time" class="form-control" id="Time" name="time" value="" required>
                    </div>
                  </div>  

                  <!-- Submit button -->
                  <div class="text-center">
                  <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
        <!-- Table -->
      <div class="container">
        <div class="table-responsive-md my-3">
          <table class="table table-bordered table-hover caption-top">
            <caption>List of patients</caption>
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Name</th>
                <th scope="col">Disease</th>
                <th scope="col">priority</th>
              </tr>
            </thead>
            <tbody>
              <% if (patients.length > 0) { %>
                  <% for(let [index, {name, disease, priority}] of patients.entries()) { %>
                    <tr>
                      <th scope="row"><%= index + 1 %></th>
                      <td><%= name %></td>
                      <td><%= disease %></td>
                      <td><%= priority %></td>
                    </tr>
                  <% } %>
              <% } %>   
            </tbody>
          </table>
        </div>
    </div>
    <div class="d-grid gap-2 d-md-block">
      <a href="/lobby?move=true" class="btn btn-success">Move</a>
    </div>
  </main>
<% -include('./includes/end.ejs') %>